<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="urf-8">
        <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    </head>
    <body>
        <div class="main">
            <header>
                <img src="/public/images/MLogo.png" class="logo">
                <h1>Portfolio Page</h1>
            </header>
            <div class="Elements">
                <nav>
                    <a href="/" class="navigation">Home</a>
                    <a href="/about" class="navigation">About Me</a>
                    <a href="/projects" id="active" class="navigation">Projects</a>
                    <a href="/services" class="navigation">Services</a>
                    <a href="/contact" class="navigation">Contact</a>
                  </nav>
            </div>

            <fieldset>
                <legend><h3>Project 1</h3></legend>
                <div class="prop">
                    <img src="/public/images/project1.jpeg">
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Smart Irrigation System<br>
                        <label class="home"><strong>Description:</strong></label>
                        <br>
                        Combining hardware and software, specifically the Android app. From the comfort of home, a farmer can keep an eye on his crops and adjust the irrigation schedule.
                        <br>
                    </p>
                </div>
            </fieldset>
            <fieldset>
                <legend><h3>Project 2</h3></legend>
                <div class="prop">
                    <img src="/public/images/project2.jpeg">
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Coffee Shop<br>
                        <label class="home"><strong>Description:</strong></label>
                        <br>
                        The CoffeeShop desktop application I created is fully functional. The software allowed users to incorporate more Coffee and Tea options. It also allowed for the addition of many snacks at once. The store owner could see where orders were in the delivery process.
                        <br>
                    </p>
                </div>
            </fieldset>
            <fieldset>
                <legend><h3>Project 3</h3></legend>
                <div class="prop">
                    <img src="/public/images/project3.jpg">
                </div>
                <div class="prop">
                    <p class="info">
                        <label class="home"><strong>Title:</strong></label>Bug Catcher<br>
                        <label class="home"><strong>Description:</strong>
                        </label>
                        <br>
                        For one of my classes, I had to create a video game. Each successful mouse click in the game bug smasher raises the player's score. The speed of the bug likewise accelerates as the player's score does. Both the score and the speed can be reset at any time.
                        <br>
                    </p>
                </div>
            </fieldset>
            <br>
            <%- include('../views/partials/footer.ejs/') %>
        </div>
    </body>
</html>